/* .cursor{
    cursor: none;
} */

/* .cursor-dot{
    width: 6px;
    height: 6px;
    border: 2px solid #eae6da;
    border-radius: 50%;
  } */

.small{
    top: 0;
    left:0;
    width: 6px;
    height: 6px;
    border: 2px solid #eae6da;
    border-radius: 50%;
    z-index: 9999;
    position: absolute;
}

body{
    background-color: #10100f;
    color: #eae6da;
    font-family: 'Poppins', sans-serif;
    padding:0;
    margin:0;
    cursor: none;
}

section{
    display: grid;
    align-items: center;
    place-content: center;
    place-items: center;
    min-height: 100vh;
}

.button {
    height: 90px; /* Adjust height */
    width: 90px; /* Adjust width */
    background-color: #eae6da; 
    border: 2px solid #eae6da;
    align-items: center;
    place-content: center;
    place-items: center;
    color: #2c2a26;
    line-height: 90px; /* Adjust line-height */
    padding: 0; /* Remove padding */
    text-align: center;
    text-decoration: none;
    text-decoration-color: #2c2a26;
    display: inline-block;
    font-size: 50px;
    border-radius: 50%;
}


.button:hover {
    background-color: #131316; 
    color: #eae6da;
}

.button:active {
    background-color: #131316;
    box-shadow: 0 5px #eae6da;
    transform: translateY(4px);
}

.rotate--10s{
    position: relative;
    -webkit-animation: spin-cclockwise 10s linear infinite;
    -moz-animation: spin-cclockwise 10s linear infinite;
    animation: spin-cclockwise 40s linear infinite;
}

.rotate-10s{
    position: relative;
    /* top: 50%; */
    /* left: 50%; */
    /* width: 150px; */
    /* height: 150px; */
    /* margin: -60px 0 0 -280px; */
    -webkit-animation: spin 10s linear infinite;
    -moz-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;
}

.rotate-20s{
    position: relative;
    -webkit-animation: spin 20s linear infinite;
    -moz-animation: spin 20s linear infinite;
    animation: spin 20s linear infinite;
}

.rotate-50s{
    position: relative;
    -webkit-animation: spin 50s linear infinite;
    -moz-animation: spin 50s linear infinite;
    animation: spin 50s linear infinite;
}

@-webkit-keyframes spin{
    100% {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes spin{
    100% {-webkit-transform: rotate(360deg);}
}

@keyframes spin{
    100% {-webkit-transform: rotate(360deg);}
}

@-webkit-keyframes spin-cclockwise {
    100% {
        -webkit-transform: rotate(-360deg); /* Change the direction to negative */
        transform: rotate(-360deg); /* Also add this for compatibility */
    }
}

@-moz-keyframes spin-cclockwise {
    100% {
        -moz-transform: rotate(-360deg); /* Change the direction to negative */
        transform: rotate(-360deg); /* Also add this for compatibility */
    }
}

@keyframes spin-cclockwise {
    100% {
        transform: rotate(-360deg); /* Change the direction to negative */
    }
}


.planet {
    position: absolute;
    /* Set polar coordinates for planet position */
    top: calc(50% - 177px); /* Adjust distance from the center */
    left: calc(50% + 177px); /* Adjust distance from the center */
    width: 30px; /* Adjust planet size */
    height: 30px; /* Adjust planet size */
    background-image: url('img/planet.png'); /* Adjust planet color */
    background-size: cover;
    border-radius: 50%;
}

.orbit-container--1 {
    position: relative;
    align-items: center;
    place-content: center;
    place-items: center;
    width: 150px;
    height: 150px;
    border: 1px dashed #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.orbit-container {
    position: relative;
    align-items: center;
    place-content: center;
    place-items: center;
    width: 300px;
    height: 300px;
    border: 1px dashed #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.orbit-container-1 {
    position: relative;
    align-items: center;
    place-content: center;
    place-items: center;
    width: 500px;
    height: 500px;
    border: 1px dashed #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.orbit-container-2 {
    position: relative;
    align-items: center;
    place-content: center;
    place-items: center;
    width: 750px;
    height: 750px;
    border: 2px dashed #ccc;
    border-radius: 50%;
    border-width: 1px;
    display: flex;
    justify-content: center;
}

.orbit-container-3 {
    position: relative;
    align-items: center;
    place-content: center;
    place-items: center;
    width: 1000px;
    height: 1000px;
    border: 1px dashed #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.hidden{
    opacity:0;
    transition: all 7s;

}

.show{
    opacity: 1;
}

nav{
    height: 80px;
    /* background: rgb(119, 46, 195); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw-1300px)/2)
}

.logo{
    color: #eae6da;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}

nav a{
    text-decoration: none;
    color: #eae6da;
    padding: 0 1.5rem;
}
