/* .cursor{
    cursor: none;
} */

/* .cursor-dot{
    width: 6px;
    height: 6px;
    border: 2px solid #eae6da;
    border-radius: 50%;
  } */

.small{
    top: 0;
    left:0;
    width: 2px;
    height: 2px;
    border: 2px solid #eae6da;
    border-radius: 50%;
    background-color: #eae6da;
    z-index: 9999;
    position: absolute;
}

body{
    background-color: #10100f;
    color: #eae6da;
    font-family: 'Poppins', sans-serif;
    padding:0;
    margin:0;
    cursor: none;
    /* background-image: url('img/stardust.png'); */
    /* opacity: 0.5; */
}
.star-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/stardust.png');
    pointer-events: none;
    z-index: -1;
    animation: spin-cclockwise 100s linear infinite;
}

section{
    display: grid;
    align-items: center;
    place-content: center;
    place-items: center;
    min-height: 100vh;
}

.button {
    height: 70px; /* Adjust height */
    width: 70px; /* Adjust width */
    background-color: #eae6da; 
    border: 2px solid #eae6da;
    align-items: center;
    place-content: center;
    place-items: center;
    color: #2c2a26;
    line-height: 90px; /* Adjust line-height */
    padding: 0; /* Remove padding */
    text-align: center;
    text-decoration: none;
    text-decoration-color: #2c2a26;
    display: inline-block;
    font-size: 50px;
    border-radius: 50%;
}


.button:hover {
    background-color: #131316; 
    color: #eae6da;
}

.button:active {
    background-color: #131316;
    box-shadow: 0 5px #eae6da;
    transform: translateX(4px);
}

.rotate-10s{
    position: relative;
    /* top: 50%; */
    /* left: 50%; */
    /* width: 150px; */
    /* height: 150px; */
    /* margin: -60px 0 0 -280px; */
    -webkit-animation: spin 10s linear infinite;
    -moz-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;
}
.rotate--10s{
    position: relative;
    -webkit-animation: spin-cclockwise 10s linear infinite;
    -moz-animation: spin-cclockwise 10s linear infinite;
    animation: spin-cclockwise 10s linear infinite;
}

.rotate-20s{
    position: relative;
    -webkit-animation: spin 20s linear infinite;
    -moz-animation: spin 20s linear infinite;
    animation: spin 20s linear infinite;
}
.rotate--20s{
    position: relative;
    -webkit-animation: spin-cclockwise 20s linear infinite;
    -moz-animation: spin-cclockwise 20s linear infinite;
    animation: spin-cclockwise 20s linear infinite;
}


.rotate-50s{
    position: relative;
    -webkit-animation: spin 50s linear infinite;
    -moz-animation: spin 50s linear infinite;
    animation: spin 50s linear infinite;
}
.rotate--50s{
    position: relative;
    -webkit-animation: spin-cclockwise 50s linear infinite;
    -moz-animation: spin-cclockwise 50s linear infinite;
    animation: spin-cclockwise 50s linear infinite;
}

.rotate-100s{
    position: relative;
    -webkit-animation: spin 100s linear infinite;
    -moz-animation: spin 100s linear infinite;
    animation: spin 100s linear infinite;
}
.rotate--100s{
    position: relative;
    -webkit-animation: spin-cclockwise 100s linear infinite;
    -moz-animation: spin-cclockwise 100s linear infinite;
    animation: spin-cclockwise 100s linear infinite;
}
.rotate-150s{
    position: relative;
    -webkit-animation: spin 150s linear infinite;
    -moz-animation: spin 150s linear infinite;
    animation: spin 150s linear infinite;
}
.rotate--150s{
    position: relative;
    -webkit-animation: spin-cclockwise 150s linear infinite;
    -moz-animation: spin-cclockwise 150s linear infinite;
    animation: spin-cclockwise 150s linear infinite;
}

.rotate-200s{
    position: relative;
    -webkit-animation: spin 200s linear infinite;
    -moz-animation: spin 200s linear infinite;
    animation: spin 200s linear infinite;
}

.rotate--200s{
    position: relative;
    -webkit-animation: spin-cclockwise 200s linear infinite;
    -moz-animation: spin-cclockwise 200s linear infinite;
    animation: spin-cclockwise 200s linear infinite;
}

@-webkit-keyframes spin{
    100% {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes spin{
    100% {-webkit-transform: rotate(360deg);}
}

@keyframes spin{
    100% {-webkit-transform: rotate(360deg);}
}

@-webkit-keyframes spin-cclockwise {
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg); 
    }
}

@-moz-keyframes spin-cclockwise {
    100% {
        -moz-transform: rotate(-360deg);
        transform: rotate(-360deg); 
    }
}

@keyframes spin-cclockwise {
    100% {
        transform: rotate(-360deg); 
    }
}
.dot1{
    top: calc(50% - 216px); /* distance from the center */
    left: calc(50% + 216px); /* distance from the center */
    width: 2px;
    height: 2px;
    border: 2px solid #eae6da;
    border-radius: 50%;
    background-color: #eae6da;
    z-index: 9999;
    position: absolute;
}

.dot2{
    top: calc(50% - 321px); /* distance from the center */
    left: calc(50% + 321px); /* distance from the center */
    width: 2px;
    height: 2px;
    border: 2px solid #eae6da;
    border-radius: 50%;
    background-color: #eae6da;
    z-index: 9999;
    position: absolute;
}

.p1 {
    position: absolute;
    /* Set polar coordinates for planet position */
    top: calc(50% - 175px); /* distance from the center */
    left: calc(50% + 175px); /* distance from the center */
    width: 75px; 
    height: 75px;
    background-image: url('img/p1.png'); 
    background-size: cover;
    border-radius: 50%;
}




.p3 {
    position: absolute;
    /* Set polar coordinates for planet position */
    top: calc(50% - 105px); /* distance from the center */
    left: calc(50% + 105px); /* distance from the center */
    width: 90px; 
    height: 90px;
    background-image: url('img/p3.png'); 
    background-size: cover;
    border-radius: 50%;
}

.p4 {
    position: absolute;
    /* Set polar coordinates for planet position */
    top: calc(50% - 265px); /* distance from the center */
    left: calc(50% + 265px); /* distance from the center */
    width: 50px; 
    height: 50px;
    background-image: url('img/p4.png'); 
    background-size: cover;
    border-radius: 50%;
}

.p5 {
    position: absolute;
    /* Set polar coordinates for planet position */
    top: calc(50% - 316px); /* distance from the center */
    left: calc(50% + 316px); /* distance from the center */
    width: 75px; 
    height: 75px;
    background-image: url('img/p5.png'); 
    background-size: cover;
    border-radius: 50%;
}

.p6 {
    position: absolute;
    /* Set polar coordinates for planet position */
    top: calc(50% - 390px); /* distance from the center */
    left: calc(50% + 390px); /* distance from the center */
    width: 100px; 
    height: 100px;
    background-image: url('img/p6.png'); 
    background-size: cover;
    border-radius: 50%;
}

.p10 {
    position: absolute;
    /* Set polar coordinates for planet position */
    top: calc(50% - 425px); /* distance from the center */
    left: calc(50% + 425px); /* distance from the center */
    width: 40px; 
    height: 40px;
    background-image: url('img/p10.png'); 
    background-size: cover;
    border-radius: 50%;
}



.orbit-container--1 {
    position: relative;
    align-items: center;
    place-content: center;
    place-items: center;
    width: 210px;
    height: 210px;
    border: 1px dashed #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.orbit-container {
    position: relative;
    align-items: center;
    place-content: center;
    place-items: center;
    width: 300px;
    height: 300px;
    border: 1px dashed #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.orbit-container-1 {
    position: relative;
    align-items: center;
    place-content: center;
    place-items: center;
    width: 500px;
    height: 500px;
    border: 1px dashed #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.orbit-container-2 {
    position: relative;
    align-items: center;
    place-content: center;
    place-items: center;
    width: 750px;
    height: 750px;
    border: 2px dashed #ccc;
    border-radius: 50%;
    border-width: 1px;
    display: flex;
    justify-content: center;
}

.orbit-container-2_5 {
    position: relative;
    align-items: center;
    place-content: center;
    place-items: center;
    width: 900px;
    height: 900px;
    border: 1px dashed #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.orbit-container-3 {
    position: relative;
    align-items: center;
    place-content: center;
    place-items: center;
    width: 1100px;
    height: 1100px;
    border: 1px dashed #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.orbit-container-4 {
    position: relative;
    align-items: center;
    place-content: center;
    place-items: center;
    width: 1200px;
    height: 1200px;
    border: 1px dashed #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.hidden{
    opacity:0;
    transition: all 7s;

}

.show{
    opacity: 1;
}

nav{
    height: 80px;
    /* background: rgb(119, 46, 195); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw-1300px)/2)
}

.logo{
    color: #eae6da;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}

nav a{
    text-decoration: none;
    color: #eae6da;
    padding: 0 1.5rem;
}
