* {
    box-sizing: border-box;
    animation: fadeIn 0.5s;
  }
  .meteor {
    border: 2px solid transparent;
    border-bottom: 60px solid #fff;
    position: absolute;
    transform-origin: top right;
    animation: shower 0.5s;
    opacity: 0;
  }
  .meteor:after {
    content: '';
    position: absolute;
    top: 58px;
    left: 50%;
    height: 4px;
    width: 4px;
    border-radius: 100%;
    background: #fff;
    transform: translateX(-50%);
    box-shadow: 0 0 15px 0 #fff;
  }

  .meteor:nth-child(0) {
    left: 32vw;
    top: 16vh;
    animation-delay: 6s;
  }
  .meteor:nth-child(1) {
    left: 51vw;
    top: 14vh;
    animation-delay: 15s;
  }
  .meteor:nth-child(2) {
    left: 12vw;
    top: 83vh;
    animation-delay: 12s;
  }
  .meteor:nth-child(3) {
    left: 89vw;
    top: 34vh;
    animation-delay: 3s;
  }
  .meteor:nth-child(4) {
    left: 66vw;
    top: 20vh;
    animation-delay: 4s;
  }
  .meteor:nth-child(5) {
    left: 57vw;
    top: 51vh;
    animation-delay: 14s;
  }
  .meteor:nth-child(6) {
    left: 16vw;
    top: 2vh;
    animation-delay: 8s;
  }
  .meteor:nth-child(7) {
    left: 44vw;
    top: 23vh;
    animation-delay: 6s;
  }
  .meteor:nth-child(8) {
    left: 1vw;
    top: 68vh;
    animation-delay: 7s;
  }
  .meteor:nth-child(9) {
    left: 80vw;
    top: 99vh;
    animation-delay: 15s;
  }
  .meteor:nth-child(10) {
    left: 97vw;
    top: 71vh;
    animation-delay: 6s;
  }

  @-moz-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-o-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-moz-keyframes shower {
    0% {
      transform: rotate(30deg) scaleY(0);
      opacity: 0;
    }
    65% {
      transform: rotate(30deg) scaleY(1);
      opacity: 1;
    }
    100% {
      transform: rotate(30deg) scaleY(1) translateY(500%);
      opacity: 0;
    }
  }
  @-webkit-keyframes shower {
    0% {
      transform: rotate(30deg) scaleY(0);
      opacity: 0;
    }
    65% {
      transform: rotate(30deg) scaleY(1);
      opacity: 1;
    }
    100% {
      transform: rotate(30deg) scaleY(1) translateY(500%);
      opacity: 0;
    }
  }
  @-o-keyframes shower {
    0% {
      transform: rotate(30deg) scaleY(0);
      opacity: 0;
    }
    65% {
      transform: rotate(30deg) scaleY(1);
      opacity: 1;
    }
    100% {
      transform: rotate(30deg) scaleY(1) translateY(500%);
      opacity: 0;
    }
  }
  @keyframes shower {
    0% {
      transform: rotate(30deg) scaleY(0);
      opacity: 0;
    }
    65% {
      transform: rotate(30deg) scaleY(1);
      opacity: 1;
    }
    100% {
      transform: rotate(30deg) scaleY(1) translateY(500%);
      opacity: 0;
    }
  }