<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ML</title>

  <!-- LOCAL CSS -->
  <link rel="stylesheet" href="../static/css/4_ML.css">

  <!-- GOOGLE POPPINS FONT -->
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

  <!-- FONTAWESOME -->
  <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- BOOTSTRAP -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->

  <!-- LATEX -->
  <script type="text/javascript" src="https://www.maths.nottingham.ac.uk/plp/pmadw/LaTeXMathML.js"></script>
</head>

<body>
  <div class="star-background"></div>
  <div class="cursor small class='fa-solid fa-star'"></div>
  <nav>
    <div class="logo"><a href="/">HOME</a></div>
    <div class="nav-items">
      <a href="4_ML.html">MASS</a>
      <a href="5_stars_and_galaxies.html">STAR OR GALAXY</a>
    </div>
  </nav>

  <section class="hidden">
    <img src="../static/img/planets1.png" alt="planets" style="width: 30%;">
    <h2>
      On the mass of exoplanets
    </h2>

    <p>
      Determining the mass of exoplanets in observational astronomy
    </p>
  </section>
  <section class='hidden'>
    <h2>Motivation</h2>
    <p class="center-text">
      In observational astronomy, the mass of a celestial bodies is determined based on several physical features.
      <br>
      For example, the mass of a star can be determined by only the radius and temperature of the star, using
      <br><b style="font-size: 25px;">$M_{\odot} = \frac{4\pi^2}{G}\left[\frac{r^2}{T^2}\right]$</b>.
      <br>It can also be determined from the flux or luminosity of the star, with respect to the sun, using
      <br><b style="font-size: 25px;">$\left[\frac{L}{L_{\odot}}\right]=\left[\frac{M}{M_\odot}\right]^4$.</b>
      <br>
      <br>But what if we don't know these variables?
      <br>
      <br>Features like the mass and radius are not immediately apparent, and can be challenging to determine. 
      In this study, we test to see if we can use machine learning models on exoplanets to determine if using
      a range of other variables can determine the mass of a given planet.
      Specifically, we are looking for relationships between the mass of a planet and any other apparent
      variables.
    </p>
  </section>

  <section class="hidden">
    <h2>Preliminary analysis</h2>
      Feature importances with variables radial velocity, radius and density
      <iframe src="../static/img/feature_importance_w_var.html" width="1000" height="700" frameborder="0"></iframe>
      <p class="center-text">
        The graph represents the most important variables in the dataset, that contribute to determining the mass of a given planet.
        In this study, we will take out three important variables, the radius, radial velocity, and density, to see if there is a difference in results.
        We can also use this data as a baseline to determine the performance of the models. For a standard deviation of 535.39, the random forest
        returns median difference of 22.68 and the decision tree returns a median difference of 31.78. 
      </p>
      <h3>Performance metrics</h3>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Decision Tree </th>
            <th>Random Forest</th>
            <th>Std</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Median difference</td>
            <td>31.78</td>
            <td>22.68</td>
            <td>535.39</td>
          </tr>
        </tbody>
        </table>
  </section>
  <section-break>
    <br>
  </section-break>
  <section class="hidden">
      <h2>The dataset</h2>
      <p class="left-text">We use the following variables in the analysis, now dropping the radial velocity, density and radius of the planet
        from the preliminary analysis:</p>
      <ul>
        <li>pl_name - Planet Name</li>
        <li>pl_eqt - Equilibrium Temperature [K]</li>
        <li>pl_trandep - Transit Depth [%]</li>
        <li>pl_trandur - Transit Duration</li>
        <li>st_teff - Stellar Effective Temperature [K]</li>
        <li>st_rad - Stellar Radius [Solar Radius]</li>
        <li>st_mass - Stellar Mass [Solar mass]</li>
        <li>st_lum - Stellar Luminosity [log10(Solar)]</li>
      </ul>
    <p style="text-align: left;">A sample of the dataset is shown as follows. The mass will be the y variable trained on
      aforementioned features.
    </p>
    <table border="1">
      <tr>
        <th>pl_name</th>
        <th>pl_eqt</th>
        <th>pl_trandep</th>
        <th>pl_trandur</th>
        <th>st_teff</th>
        <th>st_rad</th>
        <th>st_mass</th>
        <th>st_lum</th>
        <th style="background-color: #403e39;">pl_masse</th>
      </tr>
      <tr>
        <td>TOI-3807 b</td>
        <td>1646.0</td>
        <td>1.3600</td>
        <td>1.7800</td>
        <td>5772.0</td>
        <td>1.47</td>
        <td>1.18</td>
        <td>0.332</td>
        <td style="background-color: #403e39;">330.54154</td>
      </tr>
      <tr>
        <td>TOI-4087 b</td>
        <td>1458.0</td>
        <td>1.1565</td>
        <td>2.9842</td>
        <td>6060.0</td>
        <td>1.11</td>
        <td>1.18</td>
        <td>0.176</td>
        <td style="background-color: #403e39;">232.01474</td>
      </tr>
      <tr>
        <td>TOI-2818 b</td>
        <td>1376.0</td>
        <td>1.3000</td>
        <td>3.8040</td>
        <td>5721.0</td>
        <td>1.23</td>
        <td>0.98</td>
        <td>0.164</td>
        <td style="background-color: #403e39;">225.65817</td>
      </tr>
      <tr>
        <td>TOI-4463 A b</td>
        <td>1395.0</td>
        <td>1.3110</td>
        <td>1.8500</td>
        <td>5640.0</td>
        <td>1.06</td>
        <td>1.06</td>
        <td>0.011</td>
        <td style="background-color: #403e39;">252.35576</td>
      </tr>
      <tr>
        <td>TOI-3785 b</td>
        <td>582.0</td>
        <td>0.9254</td>
        <td>1.7000</td>
        <td>3576.0</td>
        <td>0.50</td>
        <td>0.52</td>
        <td>-1.435</td>
        <td style="background-color: #403e39;">14.95000</td>
      </tr>
    </table>
    <br>
  </section>

  <section class="hidden center">
    Decision Trees vs. Random Forests
    <p class="left-text">
      The following graphs show a comparison between the decision tree and random forest classifications.
      The first plots the predicted y values, y_pred, and the actual values, y_test, and compares their
      performance. By looking at the graphs, both graphs appear to perform similarly, and there is a lower
      correlation between the variables. We can see this in the second row more clearly, where we expect 
      a 1:1 ratio between the y_pred and y_test variables. 
    </p>
    <iframe src="../static/img/comparisons_dt_rf.html" width= "1500" height="1000" frameborder = "0" ></iframe>
    Median Differences
    <p style="text-align: justify; max-width: 50%;">
      While random forests performed better in the preliminary analysis, taking out the three main variables
      led to a greater error in the median differences. 
    </p>
    <table>
      <thead>
        <tr>
          <th ></th>
          <th >Decision Tree </th>
          <th >Random Forest</th>
          <th >Std</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td >Median difference<br>(With dens, rv, and<br>rad)</td>
          <td >31.78</td>
          <td >22.68</td>
          <td >535.39</td>
        </tr>
        <tr>
          <td>Median difference<br>(without dens, rv,<br>and rad)</td>
          <td>108.69</td>
          <td>179.57</td>
          <td>507.78</td>
        </tr>
      </tbody>
      </table> 
  </section>

  <section-break>
    <br>
  </section-break>
  
  <section class="hidden">
    <h3>Feature importances without variables: results and conclusion
    </h3>
      <p style="text-align: justify; max-width: 60%;">
      There are some major differences in the feature importances after taking out the three main dependent variables.
      The biggest difference is that the equilibrium temperature of the star plays a significantly larger role in 
      correlations in the random forest model when compared to the decision tree. On the other hand, the transit depth
      and duration have more of a significance in the decision tree model. As random forests are a series of decision 
      trees, we can say that the results of the feature importances can be more random due to the lack of correlation, 
      and the fact that no variable plays a significantly greater role in determining masses. However, we do know that 
      the mass of a star does play a role in determining the mass of each planet 
      (more on that <a style="color: rgb(105, 173, 196);" href="http://www.astro.gsu.edu/lab/Supplemental_labs/supplemental_labs_files/exoplanets/Exoplanet_writeup.pdf">here</a>).
      We do also know that light curves play a significant role in determining the velocity and size of a planet, 
      which can be determined by the variables pl_trandep and pl_trandur.
      </p>
      <section class="hidden">
        <iframe src="../static/img/feature_importance_wo_var.html" width="1000" height="700" frameborder="0"></iframe>
  
  </section>

  <section class="hidden">
    <table>
      <thead>
        <tr>
          <th rowspan="2"></th>
          <th colspan="2">Decision Tree</th>
          <th colspan="2">Random Forest</th>
        </tr>
        <tr>
          <th>With mass temp dens</th>
          <th>Wo mass temp dens</th>
          <th>With mass temp dens</th>
          <th>Wo mass temp dens</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>MAE</td>
          <td>6.95e1</td>
          <td>3.83e2</td>
          <td>4.76e1</td>
          <td>3.30e2</td>
        </tr>
        <tr>
          <td>MSE</td>
          <td>2.64e4</td>
          <td>7.07e5</td>
          <td>2.23e4</td>
          <td>4.78e5</td>
        </tr>
      </tbody>
    </table>
  </section>

<section>
  <img src="../static/img/astronaut.png" alt="astronaut" style="width: 20%; padding-left: 15px;">
</section>

 


<!-- <script src="2cursor.js"></script> -->
<script src="../static/js/4_ML.js"></script>

</html>