<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>

    <!-- LOCAL CSS -->
    <link rel="stylesheet" href="../static/css/3scroll.css">
    <link rel="stylesheet" href="../static/css/3meteor.css">

    <!-- GOOGLE POPPINS FONT -->
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

    <!-- FONTAWESOME -->
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
        integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- BOOTSTRAP -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
</head>

<body>
    <div class="star-background"></div>

    <div class="meteor"></div>
    <div class="meteor"></div>
    <div class="meteor"></div>
    <div class="meteor"></div>
    <div class="meteor"></div>
    <div class="meteor"></div>
    <div class="meteor"></div>
    <div class="meteor"></div>
    <div class="meteor"></div>
    <div class="meteor"></div>

    <!-- <div class="small"></div> -->
    <!-- <div class="small class='fa-solid fa-star'"></div> -->
    <nav>
        <div class="logo"><a href="index.html">HOME</a></div>
        <div class="nav-items">
            <a href="4_ML.html">EXOPLANETS</a>
            <a href="5_stars_and_galaxies.html">STARS OR GALAXIES</a>
        </div>
    </nav>

    <section class="hidden">
        <img src="../static/img/planet.png" alt="astronaut" style="width: 30%;">
        <div>
            <h1>Applying Machine Learning Methods to celestial objects</h1>
        </div>
    </section>

    <section class="hidden">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>
                        <h2 style="text-align: left;"> <a href="4_ML.html" style="color: #e3e0d6;">Exoplanets</a> 
                        </h2>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="vertical-align: top;"><img src="../static/img/p1.png" alt="" style="width: 200px;"></td>
                    <td>The mass of stars, planets, and other celestial bodies are
                        <br> determined through their relationships with flux, density,
                        <br>temperature, and radii. Can machine learning models predict
                        <br> the mass of planets without this knowledge? We apply other
                        <br> factors of the planetary system, such as ellipticity of the
                        <br> orbits and the light curve of the star to Decision Tree and
                        <br>Random Forest Classifiers, to determine if ML models can derive
                        <br> relationships between variables.<br>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <h2 style="text-align: left;">
                            <a href="5_stars_and_galaxies.html" style="color: #e3e0d6;">Classifying Stars, Galaxies and QSOs</a> 
                        </h2>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top;"><img src="../static/img/p10.png" alt="" style="width: 200px;"></td>
                    <td>A common method of analysis when distinguishing between dots
                        <br>of light in the sky is through analysis of the light that they
                        <br>emit. Using the spectral bands u, g, r, i, and z of three classes
                        <br>of objects (galaxies, QSOs and stars), we will test between SVC,
                        <br>Decision Trees, and Random Forests, to determine if we can develop
                        <br>a strong model to predict the classification of these objects, and
                        <br>which model returns the highest accuracy.
                    </td>

                </tr>
            </tbody>
        </table>
    </section>

    <section-break></section-break>

    <section class="hidden">
        <!-- <button type="button" class="btn">Base class</button> -->
        <div class="orbit-container-4 rotate-200s">
            <div class="p10 rotate-10s"></div>
            <div class="orbit-container-3 rotate-200s">
                <div class="p6 rotate-10s"></div>
                <div class="orbit-container-2_5 rotate--150s">
                    <div class="p5 rotate-10s"></div>
                    <div class="orbit-container-2 rotate--50s">
                        <div class="p4 rotate-10s"></div>
                        <div class="orbit-container-1 rotate-20s">
                            <div class="p1 rotate-10s"></div>
                            <div class="orbit-container rotate-50s">
                                <div class="p3 rotate-10s"></div>
                                <div class="orbit-container--1 rotate--10s">
                                    <div class="p2 rotate-10s"></div>
                                    <a href="#" id="generateButton">
                                        <div class="button rotate-20s" onclick="generateURL()">
                                            <i class="fa-regular fa-sun"></i>
                                        </div>
                                        <!-- <p id="url"></p> -->
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class='hidden'>
        <img class="rotate" src="../static/img/planets.png" alt="planet-with-ring" style="width: 50%;">
        <p>

        </p>
    </section>

</body>

<script src="../static/js/3cursor.js"></script>
<script src="../static/js/3scroll.js"></script>
<script src="../static/js/3meteor.js"></script>

</html>