<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stars And Galaxies</title>

    <!-- LOCAL CSS -->
    <link rel="stylesheet" href="../static/css/exo_mass.css">

    <!-- GOOGLE POPPINS FONT -->
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

    <!-- FONTAWESOME -->
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
        integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- LATEX -->
    <script type="text/javascript" src="https://www.maths.nottingham.ac.uk/plp/pmadw/LaTeXMathML.js"></script>
</head>

<body>
    <div class="star-background"></div>
    <div class="cursor class='fa-solid fa-star'"></div>
    <nav>
        <div class="logo"><a href="/">HOME</a></div>
        <div class="nav-items">
            <a href="exo_mass.html">MASS</a>
            <a href="stars_and_galaxies.html">STAR OR GALAXY</a>
        </div>
    </nav>
    <section class="hidden">
        <img src="../static/img/stars_and_galaxies.png" alt="astronaut" style="width: 30%;">
        <h2>Classifying Stars, Galaxies and QSOs</h2>
    </section>
    <section class="hidden">
        <p class="center-text">
            Celestial images too far to be classified by the naked eye are analysed through imaging within and outside of the visible spectrum.
            In classifying stars and galaxies, the filters u, g, i, r and z are used, representing the following wavelengths:
        </p>
        <table>
            <tr>
              <th style="background-color: #403e39;">Filter</th>
              <th style="background-color: #403e39;">Type of Light</th> 
            </tr>
            <tr>
              <td>u'</td>
              <td>Ultraviolet light</td>
            </tr>
            <tr>
              <td>g'</td>
              <td>Blue and green visible light</td>
            </tr>
            <tr>
              <td>r'</td>
              <td>Yellow and red visible light</td>
            </tr>
            <tr>
              <td>i'</td>
              <td>Near-infrared light</td>
            </tr>
            <tr>
              <td>z'</td>
              <td>Near-infrared light</td>
            </tr>
          </table>
        <br>
        <img src="../static/img/wavelengths.png" alt="wavelengths" style="width: 50%; height: auto;">
        <a href="https://voyages.sdss.org/preflight/light/filters/", style="font-size: small; color: #737993;">Image Source</a>
    </section>

    <section class="hidden">
        The dataset used in this analysis is as follows:
        <table>
          <tr>
            <th>u</th>
            <th>g</th>
            <th>r</th>
            <th>i</th>
            <th>z</th>
            <th style="background-color: #403e39;">class</th>
          </tr>
          <tr>
            <td>20.771816</td>
            <td>18.526823</td>
            <td>17.392050</td>
            <td>16.887115</td>
            <td>16.500648</td>
            <td style="background-color: #403e39;">GALAXY</td>
          </tr>
          <tr>
            <td>20.190552</td>
            <td>20.111183</td>
            <td>20.003725</td>
            <td>19.536736</td>
            <td>19.366606</td>
            <td style="background-color: #403e39;">QSO</td>
          </tr>
          <tr>
            <td>20.658936</td>
            <td>19.767363</td>
            <td>20.112465</td>
            <td>19.771290</td>
            <td>19.810503</td>
            <td style="background-color: #403e39;">GALAXY</td>
          </tr>
          <tr>
            <td>22.210409</td>
            <td>19.843256</td>
            <td>18.377989</td>
            <td>17.126400</td>
            <td>16.440516</td>
            <td style="background-color: #403e39;">STAR</td>
          </tr>
          <tr>
            <td>20.798119</td>
            <td>19.537325</td>
            <td>19.040367</td>
            <td>18.827971</td>
            <td>18.753901</td>
            <td style="background-color: #403e39;">STAR</td>
          </tr>
        </table>
        <p class="center-text">We use a both Decision Trees and Random Forest Classifiers to determine which gives more accurate predictions. 
        The three classes used in this dataset are Galaxies, Stars, and Quasi-Stellar Objects(Quasars).</p>
    </section>

    <section class="hidden">
      <h3>Dataset analysis</h3>
      <iframe src="../static/img/sqg_counts.html" width="600" height="400" frameborder="0"></iframe>
      <p>The highest population of the dataset are classified as galaxies. 
        The total number of training rows is 35000.
      </p>
    </section>

    <section class = "hidden">
      <iframe src="../static/img/sog_cm.html" width="900" height="500" frameborder="0"></iframe>
      <p class="center-text"> By comparing the confusion matrices of decision trees and random forests, they both return strong predictions for all three classes.
        It returns the fewest true counts for QSOs, given that this class had the least number of value counts in the dataset.
        Overall, we can deduce that the random forest performs better than decision trees. It returned a overall higher number of true positives,
        compared to the false values.
      </p>
    </section>

    <section class="hidden">
      <h2>The Metrics</h2>
      <table border="1">
        <tr style="background-color: #403e39;">
          <th>Class</th>
          <th>Precision</th>
          <th>Recall</th>
          <th>F1-score</th>
        </tr>
        <tr>
          <td>GALAXY</td>
          <td>0.95</td>
          <td>0.93</td>
          <td>0.94</td>
        </tr>
        <tr>
          <td>QSO</td>
          <td>0.69</td>
          <td>0.76</td>
          <td>0.72</td>
        </tr>
        <tr>
          <td>STAR</td>
          <td>0.85</td>
          <td>0.87</td>
          <td>0.86</td>
        </tr>
      </table>
      <br>
      <p class="center-text">
      Overall, the classification results from the random forest regressor yields promising results.
      Galaxies have the highest precision and recall scores, whereas QSOs have the lowest. Form the metrics,
      this model to determine whether a class is a galaxy or a star, the lowest metric of stars, the precision,
      yields a strong 85%. Combined with other factors such as redshifts, these models can be trained to yield
      results with higher accuracy. QSOs were not predicted to an optimal standard, and we can conclude that more
      varaibles will likely be required to be able to better predict QSO objects. 
    </p>
    </section>


    <section>
      ~THE END~
      <img src="../static/img/astronaut.png" alt="astronaut" style="width: 20%; padding-left: 15px;">
    </section>
</body>

<script src="../static/js/exo_mass.js"></script>

</html>